<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Secondname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${listUsers}">
        <td th:text = "${user.getId()}"/>
        <td th:text = "${user.getName()}"/>
        <td th:text = "${user.getSecondName()}"/>
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/users/{id}/delete(id=${user.getId()})}">Delete</a>
        <td/>
    </tr>
    </tbody>
</table>
<br>
<br>
<th scope="col">Add a user</th>
<br>
<br/>
<form th:method="POST" th:action="@{/users/new}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type = "text" th:field="*{name}" id="name"/>
    <br>
    <br/>
    <label for="secondName">Enter secondname: </label>
    <input type = "text" th:field="*{secondName}" id="secondName"/>
    <br>
    <br/>
    <input type = "submit" value="Create!"/>
</form>

</body>
</html>